---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'interests', text: 'Interests' },
  { depth: 2, slug: 'about-this-site', text: 'About This Site' },
  { depth: 2, slug: 'contact', text: 'Contact' },
  { depth: 2, slug: 'next-step', text: 'Next Steps' }
]
---

<PageLayout title='About' {headings}>
  <p>
    你好，我是 Akimiya。
  </p>
  <p>
    这个网站更像一个长期更新的个人空间，用来记录学习、兴趣和日常里值得留下来的片段。
  </p>

  <h2 id='education'>Education</h2>
  <p>
    <img
      src='/images/bnu-logo.png'
      alt='北京师范大学校徽'
      width='96'
      height='87'
      style='margin:0 0 1rem 0'
    />
  </p>
  <p>目前就读于北京师范大学珠海校区，应用统计学本科在读。</p>

  <h2 id='interests'>Interests</h2>
  <p>
    喜欢听歌，也喜欢唱歌，平时常听 R&amp;B、soul、jazz 和 funk。
    <br />
    曾参与北京师范大学蓝海合唱团，并随团参加合唱比赛。
  </p>

  <h2 id='about-this-site'>About This Site</h2>
  <p>
    这里用来记录我的学习过程，也会慢慢整理一些关于生活和兴趣相关的内容。
  </p>

  <h2 id='contact'>Contact</h2>
  <ul>
    <li>
      GitHub:
      <a href='https://github.com/Akimiya-z' target='_blank'>https://github.com/Akimiya-z</a>
    </li>
    <li>
      Email:
      <a href='mailto:zjy.akimiya@gmail.com'>zjy.akimiya@gmail.com</a>
    </li>
  </ul>


</PageLayout>
